.grid-row {
  display: flex;
  gap: 1px;
  justify-content: center;
  align-items: center;
}

.grid {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.grid-cell {
  height: 12px;
  width: 12px;
  border: 0.1px solid rgb(255,255,255,0.2);
  background-color: none;
}

.alive-cell {
  background-color: #736CED;
}

dead-cell {
    background-color: none;
}

.just-died-cell {
    background-color: #9F9FED;
    opacity: 0.5;
}

.shape-selector-main {
    display: flex;
    gap: 12px;
    border: 1px solid white;
    padding: 8px 16px;
}

.shape-button {
    border: 1px solid white;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected-shape-button {
    border: 4px double white;
    padding: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}